apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: audiobook-player--files-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 250Gi
  storageClassName: local-hostpath
  volumeName: audiobook-player--files-pv
