apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: audiobook-player--client-pvc
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-hostpath
  volumeName: audiobook-player--client-pv
