services:

  # Database
  database:
    image: mysql:latest
    container_name: audiobook_player__database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: audiobooks
      MYSQL_TCP_PORT: "33306"
    ports:
      - "33306:33306"
    volumes:
      - database:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
    networks:
      - audiobook-player

  # Server
  local-server:
    build: ./server
    container_name: audiobook_player__server
    depends_on:
      - database
      - files
    restart: always
    profiles:
      - preview
      - production
    volumes:
      - files:/app/audiobook-files/
    ports:
      - "34000:34000"
    environment:
      MYSQL_HOST: database
      MYSQL_PORT: "33306"
      MYSQL_USER: "root"
      MYSQL_PASSWORD: "password"
      MYSQL_DATABASE: "audiobooks"
      WEB_SERVICE_ROOT: "/api"
      WEB_SERVICE_PORT: "34000"
      FILE_STORAGE_BASE_URL: "https://audiobooks.amaxsoftware.com/files"
      FILE_STORAGE_LOCAL_PATH: "./audiobook-files"
      HASH_ALGORITHM: "sha256"
      VERSION: "1"
      VERSION_NAME: "0.1.0"
    networks:
      - audiobook-player

  # Local Server
  server:
    build: ./server
    container_name: audiobook_player__server
    depends_on:
      - database
      - files
    restart: always
    profiles:
      - local
      - development
    volumes:
      - files:/app/audiobook-files/
    ports:
      - "34000:34000"
    environment:
      MYSQL_HOST: database
      MYSQL_PORT: "33306"
      MYSQL_USER: "root"
      MYSQL_PASSWORD: "password"
      MYSQL_DATABASE: "audiobooks"
      WEB_SERVICE_ROOT: "/api"
      WEB_SERVICE_PORT: "34000"
      FILE_STORAGE_BASE_URL: "https://192.168.100.93/files"
      FILE_STORAGE_LOCAL_PATH: "./audiobook-files"
      HASH_ALGORITHM: "sha256"
      VERSION: "1"
      VERSION_NAME: "0.1.0"
    networks:
      - audiobook-player

  # Client
  client:
    build: ./client
    container_name: audiobook_player__client
    depends_on:
      - server
    restart: always
    ports:
      - "30080:80"
    volumes:
      - ./client/dist/:/usr/share/nginx/html/
    networks:
      - audiobook-player

  # Files
  files:
    build: ./files/
    container_name: audiobook_player__files
    ports:
      - "30081:80"
    volumes:
      - files:/usr/share/nginx/html/files/
    networks:
      - audiobook-player

  # Local Reverse Proxy
  local-reverse-proxy:
    build: ./local-reverse-proxy
    environment:
      NGINX_ENVSUBST_OUTPUT_DIR: /etc/nginx/conf.d
      SERVER_NAME: 192.168.100.93
    container_name: audiobooks_player__reverse_proxy
    profiles:
      - local
      - development
    ports:
      - "80:80"
      - "443:443"
    networks:
      - audiobook-player

# Reverse Proxy
  reverse-proxy:
    build: ./reverse-proxy
    container_name: audiobooks_player__reverse_proxy
    environment:
      NGINX_ENVSUBST_OUTPUT_DIR: /etc/nginx/conf.d
      SERVER_NAME: audiobooks.amaxsoftware.com
    profiles:
      - preview
      - production
    ports:
      - "443:443"
      - "80:80"
    networks:
      - audiobook-player

# Network
networks:
  audiobook-player:
    name: audiobook-player
    driver: bridge

volumes:
  files:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: './files/audiobook-files/'
  database:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: './mysql-data'
