apiVersion: v1
kind: PersistentVolume
metadata:
  name: audiobook-player--database-init-pv
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadOnlyMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-hostpath
  local:
    path: /Users/andreimaksimovich/Projects/Audiobook-Player/data/mysql-init
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - docker-desktop
