apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: audiobook-player--database-init-pvc
spec:
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-hostpath
  volumeName: audiobook-player--database-init-pv
