apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: audiobook-player--database-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-hostpath
  volumeName: audiobook-player--database-pv
