apiVersion: v1
kind: PersistentVolume
metadata:
  name: audiobook-player--files-pv
spec:
  capacity:
    storage: 250Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-hostpath
  local:
    path: /var/kubernetes-apps/audiobook-player/audiobook-files
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - my-vps
