apiVersion: v1
kind: PersistentVolume
metadata:
  name: audiobook-player--project-pv
spec:
  capacity:
    storage: 250Gi
  volumeMode: Filesystem
  accessModes:
    - ReadOnlyMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-hostpath
  local:
    path: /Users/andreimaksimovich/Projects/Audiobook-Player
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - docker-desktop
